<!DOCTYPE html>
<html style="background-color: #545454;width: 1600px;height: 1000px;color: rgb(72,72,72);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UntitledCasa (v8_2)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
</head>

<body style="margin: 10px;margin-top: 10px;margin-left: 10px;background-color: rgb(181,180,180);width: 1600px;height: 1000px;"><img class="d-none d-xl-flex flex-nowrap justify-content-xl-center align-items-xl-center" src="/assets/img/images4%20copy%20gif.gif?h=762cf2bdeba440087db8cae1da3c0a1d" style="width: 120px;background-color: rgba(159,48,48,0);margin-top: 20;margin-left: 20px;">
    <!-- Start: Cont_Map -->
    <div class="container-fluid flex-fill align-content-center" style="width: 500px;margin-right: 0;margin-left: 0;margin-top: px;height: 500px;background-color: #ffffff;"></div>
    <!-- End: Cont_Map -->
    <!-- Start: Cont_Chat -->
    <div class="container" style="width: 1400px;margin-right: 0;margin-left: 350px;margin-top: 30px;height: 300px;opacity: 1;background-color: #fffefe;"><iframe allowfullscreen="" frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?q=Paris%2C+France&amp;zoom=11"></iframe></div>
    <!-- End: Cont_Chat -->
    <!-- Start: usertab -->
    <div class="flex-fill" style="width: 600px;margin-left: 950px;margin-top: -400px;height: 460px;">
        <ul class="nav nav-tabs" style="margin-top: -400px;width: 600px;">
            <!-- Start: game -->
            <li class="nav-item"><a class="nav-link text-nowrap border-dark shadow flex-column visible" role="tab" data-toggle="tab" href="#tab-1" style="width: 150px;background-color: rgb(181,180,180);font-weight: bold;color: rgb(75,75,75);font-size: 16px;height: 36px;">Partidas</a></li>
            <!-- End: game -->
            <li class="nav-item"><a class="nav-link text-nowrap border-dark shadow flex-column visible" role="tab" data-toggle="tab" href="#tab-2" style="width: 150px;background-color: #767676;font-weight: bold;color: rgb(208,208,208);height: 36px;">Amigos</a></li>
            <li class="nav-item"><a class="nav-link text-nowrap border-dark shadow flex-column visible" role="tab" data-toggle="tab" href="#tab-3" style="width: 150px;background-color: #484848;font-weight: bold;color: rgb(208,208,208);height: 36px;">Locales</a></li>
            <li class="nav-item"><a class="nav-link active text-nowrap border rounded border-dark shadow flex-column visible" role="tab" data-toggle="tab" href="#tab-4" style="width: 150px;background-color: rgb(0,0,0);font-weight: bold;color: rgb(208,208,208);font-size: 14;height: 36px;">Usuario</a></li>
        </ul>
        <div class="tab-content">
            <!-- Start: panelPartida -->
            <div class="tab-pane fade flex-nowrap visible" role="tabpanel" id="tab-1">
                <!-- Start: paragrafPartida -->
                <p class="text-nowrap border rounded-0 border-dark" style="width: 600px;height: 460px;background-color: rgb(118,118,118);font-weight: normal;color: rgb(0,0,0);margin-top: 0px;"></p>
                <!-- End: paragrafPartida -->
            </div>
            <!-- End: panelPartida -->
            <!-- Start: panelAmigos -->
            <div class="tab-pane fade text-nowrap flex-row flex-nowrap visible" role="tabpanel" id="tab-2" style="width: 600px;height: 458px;color: rgb(84,84,84);background-color: rgb(118,118,118);margin-top: 80xp;"><input type="checkbox" style="margin-left: 10px;margin-top: -30px;">
                <!-- Start: sesionAmigos --><input class="flex-nowrap order-2" type="text" style="width: 100px;height: 25px;margin-top: 10px;margin-left: 500px;">
                <!-- End: sesionAmigos -->
                <p style="margin-left: 430px;margin-top: -25px;width: 100px;color: rgb(255,255,255);">Session ID</p>
                <!-- Start: name --><input class="flex-nowrap order-2" type="text" style="width: 100px;height: 25px;margin-top: -15px;margin-left: 490px;">
                <!-- End: name -->
                <!-- Start: name -->
                <p style="margin-left: 420px;margin-top: -25px;width: 100px;color: rgb(255,255,255);">Name</p>
                <!-- End: name -->
                <div class="table-responsive" style="color: rgb(194,193,193);margin-left: 15px;font-size: 12px;height: 300px;width: 380px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 100px;height: 25px;">Nick</th>
                                <th style="width: 150px;height: 25px;">Usuario</th>
                                <th style="width: 20px;height: 25px;">Estado</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;height: 40px;">
                            <tr style="height: 25px;">
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr style="height: 25px;">
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="margin-left: 410px;margin-top: 20px;color: rgb(255,255,255);">Game ID</p>
                <!-- Start: timestamp --><input class="flex-nowrap order-2" type="text" style="width: 200px;height: 25px;margin-top: -45px;margin-left: 500px;">
                <!-- End: timestamp --><input class="flex-nowrap order-2" type="text" style="width: 200px;height: 25px;margin-top: px;margin-left: 200px;">
                <!-- Start: userName --><input class="flex-nowrap order-2" type="text" style="width: 80px;height: 25px;margin: px;margin-top: px;margin-left: 150px;">
                <!-- End: userName -->
                <!-- Start: timestamp -->
                <p style="margin-left: 410px;margin-top: -250px;width: 100px;">Paragraph</p>
                <!-- End: timestamp -->
                <p style="margin-left: 410px;margin-top: -25px;">Paragraph</p>
            </div>
            <!-- End: panelAmigos -->
            <!-- Start: panelDonde -->
            <div class="tab-pane fade text-nowrap flex-nowrap visible" role="tabpanel" id="tab-3" style="width: 600px;height: 450px;background-color: #484848;margin-top: 0px;">
                <!-- Start: name --><input type="text" style="margin-top: 10px;margin-left: 670px;width: 200px;">
                <!-- End: name -->
                <p style="width: 100px;margin-top: -25px;margin-left: 510px;">Nombre</p>
                <!-- Start: description --><input type="text" style="margin-top: -20px;margin-left: 670px;width: 200px;">
                <!-- End: description -->
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Description</p>
                <div class="table-responsive" style="color: rgb(207,206,193);">
                    <table class="table">
                        <thead style="color: rgb(205,206,207);">
                            <tr style="height: 20px;width: 360px;margin-left: 10px;">
                                <th class="border rounded-0 border-white" style="color: rgb(208,208,208);height: 30px;margin-left: 10px;">Partida</th>
                                <th style="color: rgb(208,208,208);height: 30px;">Local</th>
                                <th class="table-active text-truncate border rounded-0 border-white flex-wrap" style="color: rgb(208,208,208);height: 30px;width: -30px;">Pl.Disp.</th>
                                <th style="color: rgb(208,208,208);height: 30px;">Column 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border rounded-0 border-white shadow">
                                <td class="border rounded-0 border-white" style="color: rgb(208,208,208);">Cell 1</td>
                                <td class="border rounded-0" style="color: rgb(208,208,208);">Cell 2</td>
                                <td class="text-center border rounded-0" style="color: rgb(208,208,208);">Cell 3</td>
                                <td class="border rounded-0 border-white" style="color: rgb(208,208,208);">Cell 4</td>
                            </tr>
                            <tr>
                                <td class="border rounded-0" style="color: rgb(208,208,208);">Cell 1</td>
                                <td class="border rounded-0" style="color: rgb(208,208,208);">Cell 1</td>
                                <td class="text-center border rounded-0" style="color: rgb(208,208,208);">Cell 3</td>
                                <td class="border rounded-0" style="color: rgb(208,208,208);">Cell 4</td>
                            </tr>
                            <tr>
                                <td class="border rounded-0">Cell 1</td>
                                <td class="border rounded-0">Cell 2</td>
                                <td class="text-center border rounded-0">Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                            <tr>
                                <td class="border rounded-0">Cell 1</td>
                                <td class="border rounded-0">Cell 2</td>
                                <td class="text-center border rounded-0">Cell 3</td>
                                <td class="border rounded-0">Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Start: latitude --><input type="text" style="margin-top: -20px;margin-left: 170px;width: 200px;">
                <!-- End: latitude -->
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Latitud</p>
                <!-- Start: longitude --><input type="text" style="margin-top: -20px;margin-left: 170px;width: 200px;">
                <!-- End: longitude -->
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Longitud</p><input type="text" style="margin-top: -20px;margin-left: 170px;width: 200px;">
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Paragraph</p><input type="text" style="margin-top: -20px;margin-left: 170px;width: 200px;">
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Paragraph</p><input type="text" style="margin-top: -20px;margin-left: 170px;width: 200px;">
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Paragraph</p><input type="text" style="margin-top: -20px;margin-left: 670px;width: 200px;">
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Paragraph</p><input type="text" style="margin-top: -20px;margin-left: 670px;width: 200px;">
                <p style="width: 100px;margin-top: -20px;margin-left: 510px;">Paragraph</p>
            </div>
            <!-- End: panelDonde -->
            <!-- Start: user -->
            <div class="tab-pane fade show active text-nowrap visible" role="tabpanel" id="tab-4" style="width: 600px;height: 460px;background-color: #000000;margin: 00px;margin-top: px;font-size: 12px;">
                <!-- Start: nickName --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: nickName -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;font-size: 12px;">Nickname</p>
                <!-- Start: Name --><input type="text" style="width: 130px;margin: px;margin-top: 30px;height: 20px;margin-left: 10px;">
                <!-- End: Name -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -40px;margin-left: 10px;font-size: 12px;">Nombre</p>
                <!-- Start: surName --><input type="text" style="width: 230px;margin: px;margin-top: -0px;height: 20px;margin-left: 150px;">
                <!-- End: surName -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -50px;margin-left: 150px;font-size: 12px;">Apellidos</p>
                <!-- Start: adress --><input type="text" style="width: 230px;margin: px;margin-top: 50px;height: 20px;margin-left: 150px;">
                <!-- End: adress -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -40px;margin-left: 150px;font-size: 12px;">Dirección</p>
                <!-- Start: userCP --><input type="text" style="width: 130px;margin: px;margin-top: -40px;height: 20px;margin-left: 10px;">
                <!-- End: userCP -->
                <p class="text-nowrap" style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -40px;margin-left: 10px;font-size: 12px;">C. P.</p>
                <!-- Start: userPoblacion --><input type="text" style="width: 230px;margin: px;margin-top: 30px;height: 20px;margin-left: 150px;">
                <!-- End: userPoblacion -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;font-size: 12px;">Población</p>
                <!-- Start: userProvincia --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: userProvincia -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -30px;margin-left: 10px;font-size: 12px;">Provincia</p><input type="tel" style="height: 20px;width: 230px;margin-left: 150px;margin-top: 20px;">
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;font-size: 12px;">Teléfono</p><input type="email" style="height: 20px;margin-left: 150px;width: 230px;margin-top: 10px;">
                <p style="width: 200px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;">e-mail</p>
                <!-- Start: birthday --><input class="justify-content-center align-items-center align-content-sm-center align-content-md-center align-content-lg-center align-content-xl-center" type="date" style="width: 230px;height: 20px;margin-left: 150px;font-size: 14px;margin-top: 10px;font-family: Actor, sans-serif;filter: sepia(0%);">
                <!-- End: birthday -->
                <!-- Start: birthday -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;">Fecha nacimiento</p>
                <!-- End: birthday -->
                <!-- Start: userOtro1 --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: userOtro1 -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;">Password</p>
                <!-- Start: homelat --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: homelat -->
                <!-- Start: homelat -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;">Domicilio Latitud</p>
                <!-- End: homelat -->
                <!-- Start: homelong --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: homelong -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: 0px;margin-left: 10px;">Domicilio Long</p>
                <!-- Start: usertOtro4 --><input type="text" style="width: 230px;margin: px;margin-top: 10px;height: 20px;margin-left: 150px;">
                <!-- End: usertOtro4 -->
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(208,208,208);margin: 0px;margin-top: -20px;margin-left: 10px;">Otro 4</p>
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(0,0,0);margin: 0px;margin-top: -20px;margin-left: 10px;"></p>
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(0,0,0);margin: 0px;margin-top: -20px;margin-left: 10px;"></p>
                <p style="width: 100px;height: 20px;background-color: rgb(b3e3e);color: rgb(0,0,0);margin: 0px;margin-top: -20px;margin-left: 10px;"></p>
            </div>
            <!-- End: user -->
        </div>
    </div>
    <!-- End: usertab -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>