<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>

<style>

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<body>

<div>
	<th>Users list</th>
</div>

<table>
	<tr>
		<th>NICKNAME</th>
		<th>NAME</th>
		<th>SURNAME</th>
		<th>ADDRESS</th>
		<th>BIRTHDAY</th>
		<th>EMAIL</th>
		<th>PASSWORD</th>
		<th>USERSESSION</th>
	</tr>
	

</table>

<table>
	<tr th:each="users:${usersList}">
		
		
		<td th:text="${users.nickname}"></td>
		<td th:text="${users.name}"></td>
		<td th:text="${users.surname}"></td>
		<td th:text="${users.address}"></td>
		<td th:text="${users.birthday}"></td>
		<td th:text="${users.email}"></td>
		<td th:text="${users.password}"></td>
		<td th:text="${users.usersession}"></td>		

            <td><a th:href="@{searchUser(name=${users.nickname})}"  
               class="btn btn-primary">DELETE</a></td>

	</tr>
</table>

<!-- <table>
	<button><a th:href="@{editUser(name=${users.nickname})}"  
               class="btn btn-primary">Edit</a></button>
</table> -->


</body>
</html>